{% load i18n %}
<ul class="list-with-icons">
  {% for author in authors %}
  <li class="vcard">
    <i class="icon-user"></i>
    <a href="{% url zinnia_author_detail author.username %}"
       title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}"
       class="fn nickname url">{{ author }}</a>
    {% blocktrans count entry_count=author.entries_published.count %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}
  </li>
  {% empty %}
  <li>
    {% trans "No authors yet." %}
  </li>
  {% endfor %}
</ul>