{% load i18n mptt_tags %}
<ul class="category-root list-with-icons">
  {% recursetree categories %}
  <li>
    {% if node.get_level == 0 %}
    <i class="icon-star"></i>
    {% else %}
    <i class="icon-star-empty"></i>
    {% endif %}
    <a href="{{ node.get_absolute_url }}" title="{% blocktrans with category=node %}Show all entries in {{ category }}{% endblocktrans %}">{{ node }}</a>

    {% if not node.is_leaf_node %}
    <ul class="category-children category-{{ node.slug }}">
      {{ children }}
    </ul>
    {% endif %}
  </li>
  {% endrecursetree %}
  {% if not categories %}
  <li>
    {% trans "No categories yet." %}
  </li>
  {% endif %}
</ul>